<html>
<script>

</script>
<div class="tsvForm" id="tsvForm" style="display: flex; justify-content: center;">
<form #userPost = "ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <div  class="form-group">
      <label for="exampleFormControlTextarea1" style="font-size: 24px; text-align: center; margin: 20px 0;">TSV Content</label>
      <textarea class="form-control" style="width: 500px; height: 300px;" id="exampleFormControlTextarea1" rows="3" name = "data" ngModel placeholder= "Enter Your Data" value= "{{tsv_data}}"></textarea>
    </div>
    <button type="submit" id = "submit_bt" class="btn btn-primary mb-2" (click)='myModalOpen()'>Submit</button>
</form>
</div>

  <!-- Modal -->
  <div class="myModal" id="popupModal">
    <button type="button" class="close" (click) = myModalClose() aria-label="Close">X</button>
    <div class="result">
        <div class="result_div">
          <div id ="myJSONresult"><pre wrap="justify-content">{{resultModel.json_result}}</pre></div>
        </div>

        <div class="result_error">
          <div>{{resultModel.error_result}}</div>
        </div>
        
        <div class="result_url">
          <div id = "urlData">{{resultModel.url_result}}
            <input type="button" (click) = copyUrl() class="btn btn-primary mb-2 copy_btn" value="Copy">
          </div>
        </div>
    </div>
  </div>

</html>
    
